<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187972426079-d92jrogea6adt6kbm4palu0qg6r2sjhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187972426079-d92jrogea6adt6kbm4palu0qg6r2sjhr</string>
	<key>API_KEY</key>
	<string>AIzaSyBmXmiFvtxhk2xLOE7I5WRc9S-1y7j9eyg</string>
	<key>GCM_SENDER_ID</key>
	<string>187972426079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andyleeboo.brewit</string>
	<key>PROJECT_ID</key>
	<string>brewit-4ceaf</string>
	<key>STORAGE_BUCKET</key>
	<string>brewit-4ceaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187972426079:ios:3e0a8513f6176c20a17eea</string>
</dict>
</plist>